[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


input.ng-invalid { 
	background-color: #fdd; 
	transform:scale(.5) rotate3d(10,25,10,5deg) ;

}